<!DOCTYPE html>
<html lang="es" ng-app="miAppIndex" ng-controller="IndexController">

<head>
    <meta charset="UTF-8">
    <title>Gestor Multimedia - Admin</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <script src="js/index.js"></script>

    <link rel="stylesheet" href="css/estilo.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap"
        rel="stylesheet">
    <link rel="icon" type="image/png" href="../imgs/Pestaña.png">
</head>

<body class="index">

    <div class="logout">
        <p id="Titulo_2" class="logo_index">PANEL DE CONTROL</p>
        <div class="botones">
            <span class="usuario-texto">
                Hola, {{ usuarioConectado }}
            </span>
            <button id="logout" ng-click="cerrarSesion()">Cerrar sesión</button>
        </div>
    </div>

    <div class="admin-sections">

        <div class="panel-admin">

            <h3 class="panel-seccion">Gestión de Usuarios</h3>
            <button id="toggleAgregarUsuario" ng-click="abrirFormulario()">Añadir Usuario</button>
            <div class="formulario-crear" ng-show="mostrarFormulario">
                <h4>Añadir Nuevo Usuario</h4>

                <input type="text" class="input-panel" placeholder="Nombre" ng-model="nuevoUsuario.name">

                <input type="email" class="input-panel" placeholder="Correo electrónico" ng-model="nuevoUsuario.email">

                <button id="login" ng-click="crearUsuario()">Añadir</button>
            </div>
            <div class="contenedor-lista">

                <div class="tuits tarjeta-usuario" ng-repeat="u in listaUsuarios">
                    <div>
                        <p class="username tarjeta-username">{{ u.name }}</p>
                        <p class="tarjeta-email">Email: {{ u.email }}</p>
                    </div>

                    <div class="botones_tuit tarjeta-botones">
                        <button class="basura boton-basura-panel" ng-click="borrarUsuario(u.id)"></button>
                    </div>
                </div>

            </div>

        </div>

        <div class="categorias-panel">
            <h3 class="panel-seccion">Gestión de Categorías</h3>

            <button id="toggleAgregarCategoria" ng-click="alternarFormularioCategoria()">Añadir Categoría</button>

            <div class="formulario-crear" ng-show="mostrarFormularioCategoria">
                <h4>Añadir Nueva Categoría</h4>

                <input type="text" class="input-panel" placeholder="Nombre" ng-model="nuevaCategoria.name">

                <button ng-click="crearCategoria()">Añadir</button>
            </div>

            <div class="contenedor-lista">

                <div class="tuits tarjeta-usuario" ng-repeat="c in listaCategorias">
                    <div>
                        <p class="username tarjeta-username">{{ c.name }}</p>
                    </div>

                    <div class="botones_tuit tarjeta-botones">
                        <button class="basura boton-basura-panel" ng-click="borrarCategoria(c.id)"></button>
                    </div>
                </div>

            </div>
        </div>

        <div class="video-panel">
            <h3 class="panel-seccion">Gestión de Vídeos</h3>

            <button id="toggleAgregarVideo" ng-click="alternarFormularioVideo()">Añadir Vídeo</button>

            <div class="formulario-crear" ng-show="mostrarFormularioVideo">
                <h4>Añadir Nuevo Vídeo</h4>

                <input type="text" class="input-panel" placeholder="Título" ng-model="nuevoVideo.titulo">

                <input type="text" class="input-panel" placeholder="URL" ng-model="nuevoVideo.url">

                <input type="text" class="input-panel" placeholder="Categoría" ng-model="nuevoVideo.categoria">

                <button ng-click="crearVideo()">Añadir</button>
            </div>

            <div class="contenedor-lista">

                <div class="tuits tarjeta-usuario" ng-repeat="v in listaVideos">
                    <div>
                        <p class="username tarjeta-username">{{ v.titulo }}</p>
                        <p class="tarjeta-email" ng-if="v.url">URL: {{ v.url }}</p>
                        <p class="tarjeta-email" ng-if="v.categoria">Categoría: {{ v.categoria }}</p>
                    </div>

                    <div class="botones_tuit tarjeta-botones">
                        <button class="basura boton-basura-panel" ng-click="borrarVideo(v.id)"></button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>